In [1]:
import pandas as pd
import numpy as np
import time
from sklearn.linear_model import LinearRegression

### –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö

In [2]:
# –†–µ–∞–ª—å–Ω—ã–µ —Å—Ä–µ–¥–Ω–∏–µ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã (–ø—Ä–∏–º–µ—Ä–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ) –¥–ª—è –≥–æ—Ä–æ–¥–æ–≤ –ø–æ —Å–µ–∑–æ–Ω–∞–º
seasonal_temperatures = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# –°–æ–ø–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –º–µ—Å—è—Ü–µ–≤ —Å —Å–µ–∑–æ–Ω–∞–º–∏
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö –æ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–µ
def generate_realistic_temperature_data(cities, num_years=10):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # –î–æ–±–∞–≤–ª—è–µ–º —Å–ª—É—á–∞–π–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –¥–∞–Ω–Ω—ã—Ö
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

In [3]:
df = pd.read_csv('temperature_data.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'])
df.head()

       city  timestamp  temperature  season
0  New York 2010-01-01     2.887095  winter
1  New York 2010-01-02     3.402675  winter
2  New York 2010-01-03    -0.999237  winter
3  New York 2010-01-04     6.680488  winter
4  New York 2010-01-05    -5.560320  winter

### 1. –ê–Ω–∞–ª–∏–∑ –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö:

- –í—ã—á–∏—Å–ª–∏—Ç—å —Å–∫–æ–ª—å–∑—è—â–µ–µ —Å—Ä–µ–¥–Ω–µ–µ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã —Å –æ–∫–Ω–æ–º –≤ 30 –¥–Ω–µ–π –¥–ª—è —Å–≥–ª–∞–∂–∏–≤–∞–Ω–∏—è –∫—Ä–∞—Ç–∫–æ—Å—Ä–æ—á–Ω—ã—Ö –∫–æ–ª–µ–±–∞–Ω–∏–π.
- –†–∞—Å—Å—á–∏—Ç–∞—Ç—å —Å—Ä–µ–¥–Ω—é—é —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—É –∏ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å–µ–∑–æ–Ω–∞ –≤ –∫–∞–∂–¥–æ–º –≥–æ—Ä–æ–¥–µ.
- –í—ã—è–≤–∏—Ç—å –∞–Ω–æ–º–∞–ª–∏–∏, –≥–¥–µ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –≤—ã—Ö–æ–¥–∏—Ç –∑–∞ –ø—Ä–µ–¥–µ–ª—ã  —Å—Ä–µ–¥–Ω–µ–µ¬±2ùúé .
- –ü–æ–ø—Ä–æ–±—É–π—Ç–µ —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏—Ç—å –ø—Ä–æ–≤–µ–¥–µ–Ω–∏–µ —ç—Ç–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞. –°—Ä–∞–≤–Ω–∏—Ç–µ —Å–∫–æ—Ä–æ—Å—Ç—å –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è –∞–Ω–∞–ª–∏–∑–∞ —Å —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏–≤–∞–Ω–∏–µ–º –∏ –±–µ–∑ –Ω–µ–≥–æ.

In [4]:
def city_statistics(df, window_days=30):
    # –û–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∞–Ω–æ–º–∞–ª–∏–π –ø–æ —Å–∫–æ–ª—å–∑—è—â–∏–º —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞–º
    df["rolling_mean"] = df.temperature.rolling(window=window_days).mean()
    df["rolling_std"] = df.temperature.rolling(window=window_days).std()

    df["is_anomaly"] = np.where(
        df["rolling_mean"].notna() & df["rolling_std"].notna(),
        (df["temperature"] < df["rolling_mean"] - 2 * df["rolling_std"]) |
        (df["temperature"] > df["rolling_mean"] + 2 * df["rolling_std"]),
        np.nan
    )

    # –û–±—â–∏–π –ø—Ä–æ—Ñ–∏–ª—å –≥–æ—Ä–æ–¥–∞
    city_profile = df.groupby("city", as_index=False) \
        .agg(temp_mean=("temperature", "mean"),
             temp_min=("temperature", "min"),
             temp_max=("temperature", "max"),
             anomalies_count=("is_anomaly", "sum"),
             obs_count=("timestamp", "size")
             )

    city_profile["anomalies_share"] = city_profile.anomalies_count / city_profile.obs_count

    # + –¢—Ä–µ–Ω–¥
    df_temp = df.copy()
    df_temp["timestamp_unix"] = df_temp["timestamp"].astype("int64") // 10 ** 9

    X = df_temp["timestamp_unix"].values.reshape(-1, 1)
    y = df_temp["temperature"].values

    model = LinearRegression()
    model.fit(X, y)

    df["trend"] = model.predict(X)
    slope = model.coef_[0]

    if abs(slope) < 1e-9:
        trend = "doesn`t exist"
    elif slope < 0:
        trend = "negative"
    else:
        trend = "positive"

    city_profile["trend"] = trend

    # –ü—Ä–æ—Ñ–∏–ª—å —Å–µ–∑–æ–Ω–∞
    # –û—Å—Ç–∞–≤–ª—è–µ–º –≥–æ—Ä–æ–¥ –≤ groupby, —á—Ç–æ–±—ã –º–æ–∂–Ω–æ –±—ã–ª–æ –æ–±—ä–µ–¥–∏–Ω–∏—Ç—å –≤—ã–≤–æ–¥—ã —Ñ—É–Ω–∫—Ü–∏–∏ –≤ –æ–¥–∏–Ω df
    season_profile = df.groupby(["season", "city"], as_index=False).agg(
        temp_mean=("temperature", "mean"),
        temp_std=("temperature", "std")
    )

    return df, city_profile, season_profile

In [5]:
results = []

start = time.time()

for city in df.city.unique():
    df_temp, city_profile_temp, season_profile_temp = city_statistics(df[df['city'] == city].copy().reset_index(drop=True))
    results.append((df_temp, city_profile_temp, season_profile_temp))

df_wo_parallel = pd.concat([result[0] for result in results], ignore_index=True)
city_profile_wo_parallel = pd.concat([result[1] for result in results], ignore_index=True)
season_profile_wo_parallel = pd.concat([result[2] for result in results], ignore_index=True)

end = time.time()
print(f'–í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –±–µ–∑ —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏–≤–∞–Ω–∏—è: {end - start :.2f} —Å–µ–∫—É–Ω–¥')

–í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –±–µ–∑ —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏–≤–∞–Ω–∏—è: 0.32 —Å–µ–∫—É–Ω–¥

In [6]:
# –î–ª—è –Ω–∞–±–ª—é–¥–µ–Ω–∏–π –ø–µ—Ä–≤–æ–≥–æ –º–µ—Å—è—Ü–∞ –ª–µ–∂–∏—Ç Nan, —Ç.–∫. –¥–ª—è –Ω–∏—Ö –Ω–µ—Ç –Ω–∞–∫–æ–ø–ª–µ–Ω–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Å–∫–æ–ª—å–∑—è—â–µ–≥–æ –æ–∫–Ω–∞
# –í—ã–∑—ã–≤–∞–µ–º tail
df_wo_parallel.tail()

,city,timestamp,temperature,season,rolling_mean,rolling_std,is_anomaly,trend
54745,Mexico City,2019-12-25,7.742859,winter,12.613410,4.524898,0.0,16.426887
54746,Mexico City,2019-12-26,6.608162,winter,12.350975,4.639689,0.0,16.426983
54747,Mexico City,2019-12-27,9.616245,winter,12.177358,4.641378,0.0,16.427080
54748,Mexico City,2019-12-28,8.529817,winter,12.053396,4.688827,0.0,16.427176
54749,Mexico City,2019-12-29,11.310376,winter,11.891022,4.624847,0.0,16.427272

In [7]:
city_profile_wo_parallel

,city,temp_mean,temp_min,temp_max,anomalies_count,obs_count,anomalies_share,trend
0,New York,12.485658,-14.400154,40.302351,211.0,3650,0.057808,positive
1,London,11.585265,-11.893173,36.386715,178.0,3650,0.048767,doesn`t exist
2,Paris,12.255139,-11.099069,33.721655,165.0,3650,0.045205,positive
3,Tokyo,16.515341,-9.421874,41.469879,193.0,3650,0.052877,positive
4,Moscow,5.262371,-25.365678,33.012882,223.0,3650,0.061096,positive
5,Sydney,18.760409,-4.292153,42.795422,168.0,3650,0.046027,positive
6,Berlin,10.345990,-16.063702,37.822353,198.0,3650,0.054247,positive
7,Beijing,13.598092,-19.780023,42.314473,227.0,3650,0.062192,positive
8,Rio de Janeiro,25.036387,-0.718259,44.535694,168.0,3650,0.046027,positive
9,Dubai,30.007129,7.351793,57.631327,224.0,3650,0.061370,positive
10,Los Angeles,19.501967,-3.177052,42.524151,156.0,3650,0.042740,positive
11,Singapore,27.355368,8.615366,46.106817,145.0,3650,0.039726,doesn`t exist
12,Mumbai,30.034692,7.324019,48.580576,155.0,3650,0.042466,positive
13,Cairo,25.281917,0.142382,52.489864,210.0,3650,0.057534,positive
14,Mexico City,16.251302,-3.460148,37.740443,154.0,3650,0.042192,positive

In [8]:
season_profile_wo_parallel.head()

   season      city  temp_mean  temp_std
0  autumn  New York  15.048181  5.029293
1  spring  New York   9.866943  5.057879
2  summer  New York  25.009779  5.019377
3  winter  New York  -0.230865  4.774404
4  autumn    London  11.915265  4.812078

In [9]:
from multiprocess import Pool

def parallel_anomaly_detection(df, num_processes=8):
    groups_by_city = [df[df['city'] == city].copy().reset_index(drop=True) for city in df['city'].unique()]

    with Pool(processes=num_processes) as pool:
        results = pool.map(city_statistics, groups_by_city)
        
    df_result = pd.concat([result[0] for result in results], ignore_index=True)
    city_profile_result = pd.concat([result[1] for result in results], ignore_index=True)
    season_profile_result = pd.concat([result[2] for result in results], ignore_index=True)

    return df_result, city_profile_result, season_profile_result

In [10]:
start = time.time()
df_parallel, city_profile_parallel, season_profile_parallel = parallel_anomaly_detection(df, num_processes=8)
end = time.time()
print(f'–í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ —Å —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏–≤–∞–Ω–∏–µ–º: {end - start:.2f} —Å–µ–∫—É–Ω–¥')

–í—ã–ø–æ–ª–Ω–µ–Ω–∏–µ —Å —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏–≤–∞–Ω–∏–µ–º: 0.36 —Å–µ–∫—É–Ω–¥

In [11]:
df_parallel.tail()

,city,timestamp,temperature,season,rolling_mean,rolling_std,is_anomaly,trend
54745,Mexico City,2019-12-25,7.742859,winter,12.613410,4.524898,0.0,16.426887
54746,Mexico City,2019-12-26,6.608162,winter,12.350975,4.639689,0.0,16.426983
54747,Mexico City,2019-12-27,9.616245,winter,12.177358,4.641378,0.0,16.427080
54748,Mexico City,2019-12-28,8.529817,winter,12.053396,4.688827,0.0,16.427176
54749,Mexico City,2019-12-29,11.310376,winter,11.891022,4.624847,0.0,16.427272

In [12]:
city_profile_parallel

,city,temp_mean,temp_min,temp_max,anomalies_count,obs_count,anomalies_share,trend
0,New York,12.485658,-14.400154,40.302351,211.0,3650,0.057808,positive
1,London,11.585265,-11.893173,36.386715,178.0,3650,0.048767,doesn`t exist
2,Paris,12.255139,-11.099069,33.721655,165.0,3650,0.045205,positive
3,Tokyo,16.515341,-9.421874,41.469879,193.0,3650,0.052877,positive
4,Moscow,5.262371,-25.365678,33.012882,223.0,3650,0.061096,positive
5,Sydney,18.760409,-4.292153,42.795422,168.0,3650,0.046027,positive
6,Berlin,10.345990,-16.063702,37.822353,198.0,3650,0.054247,positive
7,Beijing,13.598092,-19.780023,42.314473,227.0,3650,0.062192,positive
8,Rio de Janeiro,25.036387,-0.718259,44.535694,168.0,3650,0.046027,positive
9,Dubai,30.007129,7.351793,57.631327,224.0,3650,0.061370,positive
10,Los Angeles,19.501967,-3.177052,42.524151,156.0,3650,0.042740,positive
11,Singapore,27.355368,8.615366,46.106817,145.0,3650,0.039726,doesn`t exist
12,Mumbai,30.034692,7.324019,48.580576,155.0,3650,0.042466,positive
13,Cairo,25.281917,0.142382,52.489864,210.0,3650,0.057534,positive
14,Mexico City,16.251302,-3.460148,37.740443,154.0,3650,0.042192,positive

In [13]:
season_profile_parallel.head()

   season      city  temp_mean  temp_std
0  autumn  New York  15.048181  5.029293
1  spring  New York   9.866943  5.057879
2  summer  New York  25.009779  5.019377
3  winter  New York  -0.230865  4.774404
4  autumn    London  11.915265  4.812078

–í–∏–¥–∏–º, —á—Ç–æ –≤–Ω—É—Ç—Ä–∏ Jupyter Notebook —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–∏–≤–∞–Ω–∏–µ –Ω–µ –¥–∞–µ—Ç –ø—Ä–µ–∏–º—É—â–µ—Å—Ç–≤ –ø–æ —Å–∫–æ—Ä–æ—Å—Ç–∏ –æ–±—Ä–∞–±–æ—Ç–∫–∏. –ù–∞–æ–±—Ä–æ—Ç, –∑–∞–ø—É—Å–∫ —Å –º—É–ª—å—Ç–∏–ø—Ä–æ—Ü–µ—Å—Å–∏–Ω–≥–æ–º –≤—ã–ø–æ–ª–Ω—è–µ—Ç—Å—è –¥–∞–∂–µ –º–µ–¥–ª–µ–Ω–Ω–µ–µ –æ–±—ã—á–Ω–æ–≥–æ —Ü–∏–∫–ª–∞.

–≠—Ç–æ –º–æ–∂–µ—Ç –±—ã—Ç—å —Å–≤—è–∑–∞–Ω–æ —Å GIL, –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞—é—â–∏–º –º–Ω–æ–≥–æ–ø–æ—Ç–æ—á–Ω–æ—Å—Ç—å –∏ –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã–º Jupyter. –ü—Ä–∏ —ç—Ç–æ–º –≤ –∏—Å–ø–æ–ª–Ω—è–µ–º—ã—Ö —Ñ–∞–π–ª–∞—Ö —Ñ—É–∫–Ω—Ü–∏–∏ –º–æ–≥—É—Ç –ø–æ–≤–µ—Å—Ç–∏ —Å–µ–±—è –∏–Ω–∞—á–µ. 

–î–ª—è —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –Ω–∞ Streamlit –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –±—É–¥–µ—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Ä–∞—Å–ø–∞—Ä–∞–ª–ª–µ–ª–µ–Ω–Ω—ã–π –∑–∞–ø—É—Å–∫.

### 2. –ú–æ–Ω–∏—Ç–æ—Ä–∏–Ω–≥ —Ç–µ–∫—É—â–µ–π —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã:

- –ü–æ–¥–∫–ª—é—á–∏—Ç—å OpenWeatherMap API –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Ç–µ–∫—É—â–µ–π —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã –≥–æ—Ä–æ–¥–∞. –î–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è API Key (–±–µ—Å–ø–ª–∞—Ç–Ω–æ) –Ω–∞–¥–æ –∑–∞—Ä–µ–≥–∏—Å—Ç—Ä–∏—Ä–æ–≤–∞—Ç—å—Å—è –Ω–∞ —Å–∞–π—Ç–µ. –û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ API Key –º–æ–∂–µ—Ç –∞–∫—Ç–∏–≤–∏—Ä–æ–≤–∞—Ç—å—Å—è —Ç–æ–ª—å–∫–æ —á–µ—Ä–µ–∑ 2-3 —á–∞—Å–∞, —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ. –ü–æ—Å–µ–º—É –ø–æ–ª—É—á–∏—Ç–µ –∫–ª—é—á –∑–∞—Ä–∞–Ω–µ–µ.
- –ü–æ–ª—É—á–∏—Ç—å —Ç–µ–∫—É—â—É—é —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—É –¥–ª—è –≤—ã–±—Ä–∞–Ω–Ω–æ–≥–æ –≥–æ—Ä–æ–¥–∞ —á–µ—Ä–µ–∑ OpenWeatherMap API.
- –û–ø—Ä–µ–¥–µ–ª–∏—Ç—å, —è–≤–ª—è–µ—Ç—Å—è –ª–∏ —Ç–µ–∫—É—â–∞—è —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä–∞ –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π, –∏—Å—Ö–æ–¥—è –∏–∑ –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏—Ö –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Ç–µ–∫—É—â–µ–≥–æ —Å–µ–∑–æ–Ω–∞.
- –î–∞–Ω–Ω—ã–µ –Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ –Ω–µ —Å–æ–≤—Å–µ–º —Ä–µ–∞–ª—å–Ω—ã–µ (—Å—é—Ä–ø—Ä–∞–π–∑). –ü–æ—ç—Ç–æ–º—É –Ω–∞ –º–æ–º–µ–Ω—Ç —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç–∞ –ø–æ–≥–æ–¥–∞ –≤ –ë–µ—Ä–ª–∏–Ω–µ, –ö–∞–∏—Ä–µ –∏ –î—É–±–∞–µ –±—ã–ª–∞ –≤ —Ä–∞–º–∫–∞—Ö –Ω–æ—Ä–º—ã, –∞ –≤ –ü–µ–∫–∏–Ω–µ –∏ –ú–æ—Å–∫–≤–µ –∞–Ω–æ–º–∞–ª—å–Ω–∞—è. –ü—Ä–æ—Ç–µ—Å—Ç–∏—Ä—É–π—Ç–µ —Å–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –¥–ª—è —Ä–∞–∑–Ω—ã—Ö –≥–æ—Ä–æ–¥–æ–≤.
- –ü–æ–ø—Ä–æ–±—É–π—Ç–µ –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è —Ç–µ–∫—É—â–µ–π —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å —Å–∏–Ω—Ö—Ä–æ–Ω–Ω—ã–µ –∏ –∞—Å–∏–Ω—Ö—Ä–æ–Ω–Ω—ã–µ –º–µ—Ç–æ–¥—ã. –ß—Ç–æ –∑–¥–µ—Å—å –ª—É—á—à–µ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å?

In [14]:
import requests
from datetime import datetime, timezone, timedelta
import aiohttp
import asyncio

import nest_asyncio
nest_asyncio.apply()

In [15]:
def read_api_key(file_path):
    with open(file_path, 'r') as file:
        return file.read().strip()

In [16]:
key = read_api_key('openweather_api_key.txt')

In [18]:
# –°–µ–∑–æ–Ω –ª–æ–∫–∞–ª—å–Ω–æ–π –¥–∞—Ç—ã, –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ –Ω–∞ –∞–Ω–æ–º–∞–ª—å–Ω–æ—Å—Ç—å
def get_season(unix_timestamp, timezone_offset):
    local_timezone = timezone(timedelta(seconds=timezone_offset))
    local_time = datetime.fromtimestamp(unix_timestamp, tz=local_timezone)
    month = local_time.month
    season = month_to_season[month]
    
    return season


def get_response(city, key):
    url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={key}&units=metric'
    response = requests.get(url)
    response.raise_for_status() 
    data = response.json()
    
    temperature = data['main']['temp']
    unix_timestamp = data['dt']
    timezone = data['timezone']
    
    season = get_season(unix_timestamp, timezone)
    
    return temperature, season


def is_anomaly(city, season, current_temp, season_profile):
    city_season_profile = season_profile[
        (season_profile['city'] == city) & (season_profile['season'] == season)] \
        .copy().reset_index(drop=True)
    
    if city_season_profile.empty:
        raise ValueError(f'–î–∞–Ω–Ω—ã–µ {city}-{season} –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç')
    
    mean = city_season_profile['temp_mean'].values[0]
    std = city_season_profile['temp_std'].values[0]
    
    return bool(current_temp < mean - 2 * std or  current_temp > mean + 2 * std)


def check_temperature(city, key, season_profile):
    temperature, season = get_response(city, key)
    anomaly_status = is_anomaly(city, season, temperature, season_profile)
    
    return temperature, season, anomaly_status

In [19]:
results_sync = []

start = time.time()

for city in df.city.unique():
    try:
        temperature, season, anomaly_status = check_temperature(city, key, season_profile_parallel)
        status = 'anomaly' if anomaly_status else 'normal'
        results_sync.append((city, temperature, season, status))
    except ValueError as e:
        print(e)
        
end = time.time()

for city, temperature, season, status in results_sync:
    print(f'For {city} current temperature {temperature}C is {status}')
    
print(f'–°–∏–Ω—Ö—Ä–æ–Ω–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ: {end - start:.2f} —Å–µ–∫—É–Ω–¥')

For New York current temperature 8.34C is normal
For London current temperature 4.17C is normal
For Paris current temperature 4.07C is normal
For Tokyo current temperature 5.99C is normal
For Moscow current temperature 0.96C is anomaly
For Sydney current temperature 21.45C is normal
For Berlin current temperature 1.71C is normal
For Beijing current temperature -5.06C is normal
For Rio de Janeiro current temperature 25.67C is normal
For Dubai current temperature 25.96C is normal
For Los Angeles current temperature 10.52C is normal
For Singapore current temperature 26.03C is normal
For Mumbai current temperature 28.99C is normal
For Cairo current temperature 19.42C is normal
For Mexico City current temperature 10.06C is normal
–°–∏–Ω—Ö—Ä–æ–Ω–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ: 5.25 —Å–µ–∫—É–Ω–¥

In [20]:
async def get_response_async(city, key):
    url = f'https://api.openweathermap.org/data/2.5/weather?q={city}&appid={key}&units=metric'
    async with aiohttp.ClientSession() as session:
        async with session.get(url) as response:
            response.raise_for_status()
            data = await response.json()
            
            temperature = data['main']['temp']
            unix_timestamp = data['dt']
            timezone = data['timezone']
            
            season = get_season(unix_timestamp, timezone)
            
            return city, temperature, season


async def check_temperatures_async(cities, key, season_profile):
    tasks = [get_response_async(city, key) for city in cities]
    responses = await asyncio.gather(*tasks)
    results = []
    
    for city, temperature, season in responses:
        anomaly_status = is_anomaly(city, season, temperature, season_profile)
        status = 'anomaly' if anomaly_status else 'normal'
        results.append((city, temperature, season, status))

    return results

In [23]:
start = time.time()
results_async = await check_temperatures_async(df.city.unique(), key, season_profile_parallel)
end = time.time()

for city, temperature, season, status in results_async:
    print(f'For {city} current temperature {temperature}C is {status}')

print(f'–ê—Å–∏–Ω—Ö—Ä–æ–Ω–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ: {end - start:.2f} —Å–µ–∫—É–Ω–¥')

For New York current temperature 8.14C is normal
For London current temperature 4.21C is normal
For Paris current temperature 4.07C is normal
For Tokyo current temperature 5.99C is normal
For Moscow current temperature 0.96C is anomaly
For Sydney current temperature 21.4C is normal
For Berlin current temperature 1.71C is normal
For Beijing current temperature -5.06C is normal
For Rio de Janeiro current temperature 25.67C is normal
For Dubai current temperature 25.96C is normal
For Los Angeles current temperature 10.32C is normal
For Singapore current temperature 26.03C is normal
For Mumbai current temperature 28.99C is normal
For Cairo current temperature 19.42C is normal
For Mexico City current temperature 10.06C is normal
–ê—Å–∏–Ω—Ö—Ä–æ–Ω–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ: 0.60 —Å–µ–∫—É–Ω–¥

–ê –≤–æ—Ç —É–∂–µ –∞—Å–∏–Ω—Ö—Ä–æ–Ω–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–∞ –ø–æ API —Å—Ä–∞–±–æ—Ç–∞–ª–æ –≥–æ—Ä–∞–∑–¥–æ –±—ã—Å—Ç—Ä–µ–µ —Å–∏–Ω—Ö—Ä–æ–Ω–Ω–æ–≥–æ —Ü–∏–∫–ª–∞ (–Ω–µ –±–ª–æ–∫–∏—Ä—É–µ–º—Å—è –Ω–∞ –æ–∂–∏–¥–∞–Ω–∏–µ –æ—Ç–≤–µ—Ç–∞ –æ—Ç —Å–µ—Ä–≤–µ—Ä–∞, –ø–µ—Ä–µ–¥–∞–µ–º —É–ø—Ä–∞–≤–ª–µ–Ω–∏–µ). 

–ù–æ —Ç.–∫. –≤ Streamlit –Ω–∞–º –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –ø–æ–¥–≥—Ä—É–∂–∞—Ç—å –ø–æ API —Ç–æ–ª—å–∫–æ —Ç–µ–∫—É—â—É—é —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—É –¥–ª—è –æ–¥–Ω–æ–≥–æ –≤—ã–±—Ä–∞–Ω–Ω–æ–≥–æ –≥–æ—Ä–æ–¥–∞ ‚Äî –ø—Ä–∏–º–µ–Ω—è–µ–º –≤ –Ω–µ–º —Å–∏–Ω—Ö—Ä–æ–Ω–Ω—É—é —Ñ—É–Ω–∫—Ü–∏—é.

### 3. –°–æ–∑–¥–∞–Ω–∏–µ –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –Ω–∞ Streamlit:

- –î–æ–±–∞–≤–∏—Ç—å –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å –¥–ª—è –∑–∞–≥—Ä—É–∑–∫–∏ —Ñ–∞–π–ª–∞ —Å –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–º–∏ –¥–∞–Ω–Ω—ã–º–∏.
- –î–æ–±–∞–≤–∏—Ç—å –∏–Ω—Ç–µ—Ä—Ñ–µ–π—Å –¥–ª—è –≤—ã–±–æ—Ä–∞ –≥–æ—Ä–æ–¥–∞ (–∏–∑ –≤—ã–ø–∞–¥–∞—é—â–µ–≥–æ —Å–ø–∏—Å–∫–∞).
- –î–æ–±–∞–≤–∏—Ç—å —Ñ–æ—Ä–º—É –¥–ª—è –≤–≤–æ–¥–∞ API-–∫–ª—é—á–∞ OpenWeatherMap. –ö–æ–≥–¥–∞ –æ–Ω –Ω–µ –≤–≤–µ–¥–µ–Ω, –¥–∞–Ω–Ω—ã–µ –¥–ª—è —Ç–µ–∫—É—â–µ–π –ø–æ–≥–æ–¥—ã –Ω–µ –ø–æ–∫–∞–∑—ã–≤–∞—é—Ç—Å—è. –ï—Å–ª–∏ –∫–ª—é—á –Ω–µ–∫–æ—Ä—Ä–µ–∫—Ç–Ω—ã–π, –≤—ã–≤–µ–¥–∏—Ç–µ –Ω–∞ —ç–∫—Ä–∞–Ω –æ—à–∏–±–∫—É (–¥–æ–ª–∂–Ω–æ –ø—Ä–∏—Ö–æ–¥–∏—Ç—å {"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}).

–û—Ç–æ–±—Ä–∞–∑–∏—Ç—å:
- –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω—É—é —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –ø–æ –∏—Å—Ç–æ—Ä–∏—á–µ—Å–∫–∏–º –¥–∞–Ω–Ω—ã–º –¥–ª—è –≥–æ—Ä–æ–¥–∞, –º–æ–∂–Ω–æ –¥–æ–±–∞–≤–∏—Ç—å –≤–∏–∑—É–∞–ª–∏–∑–∞—Ü–∏–∏.
- –í—Ä–µ–º–µ–Ω–Ω–æ–π —Ä—è–¥ —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä —Å –≤—ã–¥–µ–ª–µ–Ω–∏–µ–º –∞–Ω–æ–º–∞–ª–∏–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, —Ç–æ—á–∫–∞–º–∏ –¥—Ä—É–≥–æ–≥–æ —Ü–≤–µ—Ç–∞).
- –°–µ–∑–æ–Ω–Ω—ã–µ –ø—Ä–æ—Ñ–∏–ª–∏ —Å —É–∫–∞–∑–∞–Ω–∏–µ–º —Å—Ä–µ–¥–Ω–µ–≥–æ –∏ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–≥–æ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏—è.
- –í—ã–≤–µ—Å—Ç–∏ —Ç–µ–∫—É—â—É—é —Ç–µ–º–ø–µ—Ä–∞—Ç—É—Ä—É —á–µ—Ä–µ–∑ API –∏ —É–∫–∞–∑–∞—Ç—å, –Ω–æ—Ä–º–∞–ª—å–Ω–∞ –ª–∏ –æ–Ω–∞ –¥–ª—è —Å–µ–∑–æ–Ω–∞.

–†–µ–∞–ª–∏–∑–æ–≤–∞–Ω–æ –≤ –ø–∞–ø–∫–µ streamlit_app